[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
Flask = "*"
flask-cors = "*"
mysql-connector = "*"
recipe_scrapers = "*"


[dev-packages]

[requires]
python_version = "3.9"
